<!-- app/views/greetings/index.html.erb -->
<h1>All Greetings</h1>
<ul>
  <% @greetings.each do |greeting| %>
    <li><%= greeting.content %></li>
  <% end %>
</ul>
<%= link_to 'Random Greeting', random_greeting_path %>
